:root {
    --paga: #04dc04;
    --deve: red;
    --fundo: #0088cc;
    --frente: #eeeeee;
    --contraste: #666666;
    --contrasteMais: #979797;
}

html {
    position: relative;
    height: 100%;
}

body{
    background-color: var(--frente);
    min-height: 100vh;
}

header {
    text-align: center;
    height: fit-content;
    background-color: var(--fundo);
    border-radius: 25px;
    color: var(--frente);
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.paga {
    background-color: var(--paga);
}

.deve {
    background-color: var(--deve);
}

footer {
    text-align: center;
    height: fit-content;
    background-color: var(--fundo);
    color: var(--frente);
    /* position: absolute;
    bottom: 0; */
    position:sticky;
    top: 100%;
    width: 100%;
    border-radius: 25px;
}



dialog::backdrop {
    background-color: rgba(20, 40, 80, 0.8);
    filter: blur(1.7rem);
}

dialog {
    border-radius: 25px;
    background-color: var(--frente);
    width: 90%;
    text-align: center;
    font-size: small;
}

input{
    width: 75%;
}

label {
    display: inline-block;
    width: 22%;
    text-align: right;
}

.dialogBody {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    margin: auto;
    width: 70%;
    font-size: medium;
}


.dialogBtns{
    display: flex;
    justify-content: center;

}

.btnModal{
    border-radius: 25px;
    background-color: var(--frente);
    font-weight: bolder;
}

.btnModal:hover {
    background-color: var(--fundo);
    color: var(--frente);
}

.btnModal:active {
    background-color: var(--frente);
    color: var(--fundo);
}

.btnModal{
    margin: 5px;
    width: 100%;
}

.debit {
    /* display: flex; */
    width: 100%;
    align-items: center;
    position: relative;
    background-color: var(--fundo);
    border-radius: 25px;
    font-weight: bold;
    
}

.name {
    background-color: var(--deve);
    border-radius: 25px;
    border: var(--contraste) 2px solid;
    width: fit-content;
    position: relative;
    left: 45%;
}

.debitBody{
    display: flex;
    border: var(--contraste) 2px solid;
}

span {
    padding-left: 3px;
}

.debitbtns {
    position: absolute;
    right: 1%;
    border-radius: 25px;
    display: grid;
}

.btns {
    border-radius: 25px;
    background-color: var(--frente);
    font-weight: bolder;
    width: 49%;
}

.btns:hover {
    background-color: var(--fundo);
    color: var(--frente);
}

.btns:active {
    background-color: var(--frente);
    color: var(--fundo);
}

#btnMain{
    border-radius: 25px;
    background-color: var(--frente);
    font-weight: bolder;
    margin-left: 5px;
}

#btnMain:hover {
    background-color: var(--fundo);
    color: var(--frente);
}

#btnMain:active {
    background-color: var(--frente);
    color: var(--fundo);
}

p {
    margin-left: 5px;
    margin-right: 5px;
}

.card {
    border: black 2px solid;
    border-radius: 15px;
    margin-top: 1%;
    font-size: small;
    background-color: var(--fundo);
}

table {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
}

th, td {
    border: 1px solid var(--frente);
    border-radius: 25px;
}

.tablename {
    background-color: var(--deve);
}

.tableheader {
    background-color: var(--fundo);
    color: var(--frente);
}

.tablebody {
    background-color: var(--fundo);
    color: var(--frente);
}

.tablefooter {
    background-color: var(--fundo);
}

